@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 50px;
    border-bottom: 1px solid #dadada;
}

.child-nav {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav h2 {
    font-size: 2vw;
}

.nav h4 {
    font-size: 1vw;
}

.nav i {
    font-size: 1.2vw;
    font-weight: 800;
    display: none;
}

.content {
    height: calc(100% - 50px);
    display: flex;
}

.content .left {
    height: 100%;
    width: 45%;
    padding: 60px 5vw;
}

.left h2 {
    font-size: 4vw;
    line-height: 4.5vw;
}

.left h2 span {
    color: #D141A0;
}

.left p {
    font-size: 1.25vw;
    padding: 30px 0;
    color: #666;
    width: 90%;
}

.left button {
    border: none;
    background-color: #D141A0;
    padding: 1vw 2vw;
    border-radius: 5px;
    font-size: 1.25vw;
    color: white;
    font-weight: 700;
    /* letter-spacing: 3px; */
    cursor: pointer;
}

.content .right {
    height: 100%;
    width: 55%;
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

/* responsive started */
@media (max-width: 800px) {
    .nav {
        padding: 0 5vw;
    }

    .nav h2 {
        font-size: 4vw;
    }

    .nav h4 {
        font-size: 1.8vw;
    }

    .content {
        flex-direction: column;
    }

    .content .left {
        width: 100%;
        height: 100%;
        padding: 50px 5vw;
    }

    .left h2 {
        font-size: 7vw;
        line-height: 8vw;
    }

    .left p {
        font-size: 3vw;
        width: 100%;
        padding: 30px 0;
    }

    .left button {
        padding: 3vw 7vw;
        border-radius: 5px;
        font-size: 4vw;
    }

    .content .right {
        width: 100%;
    }
}

/* responsiveness */
@media (max-width:600px) {

    .nav h4 {
        font-size: 3vw;
        display: none;
    }

    .nav i {
        display: initial;
        font-size: 4vw;
    }

    .content .left {
        /* background-color: red; */
        padding: 30px 5vw;
    }

    .left h2 {
        font-size: 7vw;
        /* line-height: 7.5vw; */
    }

}
@media (max-width:500px) {
    .content .left {
       height: 65%;
    }
}

@media (max-width:400px) {
    .content .left {
        height: 50%;
        padding: 20px 5vw;
    }
    .left p {
        padding: 20px 0;
    }
}
@media (max-width: 300px) {
    
}
